#france-blue {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
}
#france-white {
  height: 300px;
  width: 200px;
  background-color: white;
  display: inline-block;
}
#france-red {
  height: 300px;
  width: 200px;
  background-color: red;
  display: inline-block;
}

/*germany flag*/

.germany-holder {
  margin: 20px 0px 0px 0px;
}

#germany-black {
  height: 100px;
  width: 600px;
  background-color: black;
}
#germany-red {
  height: 100px;
  width: 600px;
  background-color: red;
}
#germany-yellow {
  height: 100px;
  width: 600px;
  background-color: yellow;
}

/*Madagascar flag */
.madagascar-holder {
  margin: 20px 0px 0px 0px;
}

#madagascar-red {
  height: 100px;
  width: 450px;
  background-color: red;
  display: inline-block;
  margin-left: 150px;
}
#madagascar-green {
  height: 100px;
  width: 450px;
  background-color: green;
  margin-left: 150px;
}

/*switzerland flag */

#switzer-red {
  height: 300px;
  width: 600px;
  margin: 20px 0px 0px 0px;
  background-color: red;
  display: inline-block;
}

.switzer-1 {
  position: relative;
  right: 35%;
  bottom: 150px;
  display: inline-block;
}

.switzer-2 {
  position: relative;
  right: 438px;
  bottom: 70px;
  display: inline-block;
}

.switzer-3 {
  position: relative;
  right: 462px;
  bottom: 120px;
  display: inline-block;
}

.switzer-4 {
  position: relative;
  right: 666px;
  bottom: 120px;
  display: inline-block;
}

#switzer-white {
  background-color: white;
  height: 80px;
  width: 80px;
  display: inline-block;
  left: 30%;
}
